@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Gabarito&family=Roboto:wght@100;300;400&family=Sofia+Sans+Condensed:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #082f49;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.container h1{
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.header .container button{
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    width: 100px;
    color: #082f49;
}

.main{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main #btn-new-book{
    margin: 20px 0px;
    padding: 10px 20px;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    background-color: #38bdf8;
    border: none;
    border-radius: 20px;
}

.main #btn-new-book:hover{
    color: #38bdf8;
    background-color: #fafafa;
}

.main #bookform{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #000;
    box-shadow: #000 20%;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    background-color: #082f49;
    color: #f0f9ff;
}

.main #bookform label{
    margin-top: 30px;
}

.main #bookform input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #f0fdfa;
    font-size: large;
}

label[for="read"]{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.main #bookform #read{
   width: 30px;
   height: 30px;   
}


.main #bookform input[type="submit"]{
    margin: 30px auto 10px ;
    font-size: 1em;
    color: #f0f9ff;
    background-color: #0369a1;
    border: none;
    width: 80%;    
}

.library{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.library .container{    
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    
}

.library .container .card{
    border: 1px solid #082f49;
    padding: 10px ;
    color: #fff7ed;
    background-color: #082f49;
    border-radius: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.5em;
}

.library .container .card p{
    padding: 0;
    margin: 0;
}

.library .container .card button{
    margin: 5px 0;
    padding: 2px 10px;
    font-size: 1em;
    width: 150px;
    border-radius: 10px;
    border: none;   
}

.library .container .card #remove{
    background-color: #dc2626;
}
